---
import Console from "./console.astro";
---

<div class="add-missing-piece page-max-width">
  <div class="inner">
    <div class="text">
      <div class="title">
        <span class="ball"></span>
        <h2>Add the missing piece</h2>
      </div>

      <div class="description">
        <span>
          You can build your very own plugins that are able to perform any kind
          of task in the system, such as adding different types of parsers,
          options, and screens.
        </span>
        <a href="/docs">Learn how to build plugins.</a>
      </div>

      <div></div>
    </div>

    <div class="console-container">
      <Console title="Create your own Plugin">
        <div>
          <span class="arrow">→</span>
          <span class="user">~/plugin</span>
          <span>$ tagocore plugin-template</span>
        </div>

        <div class="console-color-description">
          <div>
            This utility will walk you through creating a TagoCore plugin.
          </div>
        </div>

        <div>
          <span class="user">Name:</span>
          <span>my-plugin</span>
        </div>
        <div>
          <span class="user">Version:</span>
          <span>1.0.0</span>
        </div>
        <div>
          <span class="user">Description:</span>
          <span>This is my first plugin</span>
        </div>
        <div>
          <span class="user">License:</span>
          <span>ISC</span>
        </div>
        <div>
          <span class="user">Author:</span>
          <span>John Doe</span>
        </div>
        <br />
        <div>
          <span class="user">✔ Done</span>
          <span>- Happy editing!</span>
        </div>
      </Console>
    </div>
  </div>
</div>

<style>
  .add-missing-piece .inner {
    display: flex;
    position: relative;
    padding-top: 100px;
    padding-bottom: 100px;
    border-left: 5px dashed rgba(0, 0, 0, 0.2);
    margin-left: 40px;
  }

  .add-missing-piece .text .description {
    margin-top: 10px;
    color: rgba(0, 0, 0, 0.6);
  }

  .add-missing-piece .text .description * {
    font-size: 1.1rem;
  }

  .add-missing-piece .text :global(a) {
    color: var(--link-color) !important;
  }

  .add-missing-piece .text .title {
    position: relative;
    display: flex;
    align-items: center;
  }

  .add-missing-piece .inner .text .ball {
    background: black;
    padding: 5px;
    width: 5px;
    height: 5px;
    flex: none;
    position: absolute;
    left: calc(-50px);
    transform: translate(0%, 0%);
    border-radius: 50%;
    box-sizing: content-box;
    border: 10px solid white;
  }

  .add-missing-piece .text {
    flex: 1;
    margin-left: 30px;
    margin-right: 40px;
  }

  .add-missing-piece .console-container {
    flex: 1;
  }

  @media only screen and (max-width: 992px) {
    .add-missing-piece .inner .text .ball {
      left: calc(-50px + 10px);
    }

    .add-missing-piece .text {
      flex: 1;
      margin-left: 20px;
    }

    .add-missing-piece .inner {
      display: flex;
      flex-direction: column;
    }

    .add-missing-piece .console-container {
      margin-top: 20px;
      width: calc(100% + 25px);
      margin-left: -35px;
    }
  }

  @media only screen and (max-width: 768px) {
    .add-missing-piece .inner .text .ball {
      left: calc(-50px + 11px);
    }

    .add-missing-piece .inner {
      border-left: 2px dashed rgba(0, 0, 0, 0.2);
    }
  }
</style>
